doctype html
html(lang= viewLocals.doctype.language)
  head
    include ../views/2-base-blocks/_head.pug
    link(rel='stylesheet', href='/dist/homepage.552faf9b.css')
    script(src='/dist/homepage.4caec701.js', defer='')
  body
    include ../views/2-base-blocks/_modal.pug
    .blur
      .grid
        include ../views/3-blocks/_nav.pug
        include ../views/3-blocks/_header.pug
        include ../views/3-blocks/_faq.pug
        include ../views/3-blocks/_about.pug
        include ../views/3-blocks/_serviceDownGrid.pug
    include ../views/2-base-blocks/_datalayer.pug
    