doctype html
html(lang= viewLocals.doctype.language)
  head
    include ../../2-base-blocks/_head.pug
    link(rel='stylesheet', href='service.scss')
    script(src='service.js', defer='')
    
  body
    include ../../2-base-blocks/_modal.pug
    .blur
      .grid
        include ../../3-blocks/_nav.pug
        include ../../3-blocks/_header.pug
        include ../../3-blocks/_downChart.pug
        include ../../3-blocks/_serviceDetails.pug
        include ../../3-blocks/_reportProblem.pug
        include ../../3-blocks/_advertisement.pug
        include ../../3-blocks/_commentsSection.pug
        include ../../3-blocks/_faq.pug
        include ../../3-blocks/_about.pug
    include ../../2-base-blocks/_datalayer.pug

      