.nav
  a.nav__logo-link(href= viewLocals.body.nav.links.logo)
    img.nav__logo-img(src= viewLocals.body.nav.images.logo, alt= viewLocals.body.nav.alt.logo)
  a.nav__header-link(href= viewLocals.body.nav.links.header)  
    p.nav__header-text= viewLocals.body.nav.text.header
  .nav__lang-country-flag
    img(src= viewLocals.body.nav.images.flag, alt= viewLocals.body.nav.alt.flag)
  .hamburger.nav__hamburger.nav__hamburger_position
    span.hamburger__top-bun
    span.hamburger__bottom-bun